output/
annotation_model_v1/
models/
basicDiff/
scdiff-env/
venv/
myenv/
FDS/
data/
datah5ad/
pcaPlots/
RNA_CROHN_BC_SIMULATED/
guided-diffusion/
guided_diffusion/
logs/
__pycache__/
exp_script/
dummy_empty_dir/
*.pyc
*.pth
*.h5ad
*.ckpt
*.csv
*.jpeg
*.jpg
*.png
